main {
  img {
    max-width: 100%;
  }

  .item-container:nth-child(odd) {
    padding: 3rem 1.5rem;
    background-color: $white;

    .item,
    .event-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2rem;
      max-width: 1024px;
      margin: 0 auto;

      h1 {
        text-transform: uppercase;
      }

      p {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 32px;
      }
    }

    .event-list {
      grid-row-gap: 2rem;

      .event {
        padding: 0.75rem;
        border: 1px solid $divider;
        border-radius: 4px;

        button {
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid $secondary-text;
          border-radius: 8px;

          &:hover,
          &:focus {
            border: 1px solid $primary;
            background-color: $primary;
          }

          a {
            font-size: 0.75rem;
            text-decoration: none;

            &:link,
            &:visited {
              color: $secondary-text;
            }

            &:hover,
            &:active {
              color: $white;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 600px) {
      .item {
        grid-template-columns: 5fr 2fr;

        h1 {
          margin-top: 0;
        }
      }

      .event-list {
        grid-template-columns: repeat(3, 1fr);
        h1 {
          grid-column: span 3;
        }
      }
    }
  }

  .item-container:nth-child(even) {
    background-color: whitesmoke;

    .slider-item {
      padding: 3rem 2.3rem;
      button.slick-arrow::before {
        font-size: 1.5rem;
        color: $divider;
      }
    }

    @media only screen and (min-width: 600px) {
      .slider-item {
        padding: 5rem 9rem;
      }
    }
  }
}
