main {
  img {
    max-width: 100%;
  }

  .item-container:nth-child(odd) {
    padding: 3rem 1.5rem;
    background-color: $white;

    .item {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2rem;
      max-width: 1024px;
      margin: 0 auto;

      h1 {
        text-transform: uppercase;
      }

      p {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 32px;
      }
    }

    @media only screen and (min-width: 600px) {
      .item {
        grid-template-columns: 3fr 2fr;

        h1 {
          margin-top: 0;
        }
      }
    }
  }

  .item-container:nth-child(even) {
    // padding: 3rem 1.5rem;
    background-color: whitesmoke;

    .slider-item {
      padding: 2.3rem;
      button.slick-arrow::before {
        font-size: 1.5rem;
        color: $divider;
      }
    }

    @media only screen and (min-width: 600px) {
      .slider-item {
        padding: 9rem;
      }
    }
  }
}
