footer {
  background-color: $divider;
  padding: 68px 0 0;
  text-align: center;
  color: $white;

  .social-links {
    padding: 17px;
    display: inline-block;

    .icon {
      display: inline-block;
      font-size: 1.5rem;
      //   background-color: $dark-primary;
      border-radius: 25px;
      min-width: 58px;
      margin: 0 auto;
      text-align: center;
      padding-top: 2px;

      /* unvisited link */
      a:link {
        color: $light-primary;
      }

      /* visited link */
      a:visited {
        color: $light-primary;
      }

      /* mouse over link */
      a:hover {
        color: $white;
      }

      /* selected link */
      a:active {
        color: blue;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .copyright-text {
    margin-top: 30px;
    padding: 0 34px 10px;
  }

  .credits {
    padding: 7px 17px 17px;
  }
}
