footer {
  background-color: $divider;
  padding: 68px 0 0;
  text-align: center;
  color: $white;

  .address {
    padding: 0 0 30px;
    line-height: 1.5rem;
  }

  .social-links {
    padding: 17px;
    display: inline-block;

    .icon {
      display: inline-block;
      font-size: 1.5rem;
      border-radius: 25px;
      min-width: 58px;
      margin: 0 auto;
      text-align: center;
      padding-top: 2px;

      a:link,
      a:visited {
        .fa-facebook-f {
          color: #3c5a99;
        }

        .fa-twitter {
          color: #1da1f2;
        }

        .fa-instagram {
          color: #c13584;
        }

        .fa-weixin {
          color: #09b83e;
        }
      }

      a:hover,
      a:active {
        .fa-facebook-f,
        .fa-twitter,
        .fa-instagram,
        .fa-weixin {
          color: $white;
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .copyright-text {
    margin-top: 30px;
    padding: 0 34px 10px;
  }

  .credits {
    padding: 7px 17px 37px;
  }
}
