@import './variables';
@import './components/Hero';
@import './components/Content';
@import './components/Footer';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
