@import "./variables";
@import "./components/Hero";
@import "./components/Content";
@import "./components/Error";
@import "./components/Footer";
@import "./screens/wechat";

body {
  // margin: 0;
  // font-family: 'Roboto', sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid $secondary-text;
  border-radius: 8px;

  &:hover,
  &:focus {
    border: 1px solid $primary;
    background-color: $primary;
  }
}
